<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}"/>
    <title>Payment</title>
  </head>
  <body>
    <main>
      <header>
        <div id="qr-code">
          <img src="{{ url_for('static', filename='template_img/404.png' )}}" alt="404 icon" />
        </div>

        <aside style="margin: auto;">
          <h1>Ops, we didn't find your order</h1>
          <p>
            Please check that the URL is correct. If you have any questions, please contact our support team.
          </p>
        </aside>
      </header>

    </main>
  </body>
</html>